.card {
  width: 25rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: getColor(light);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);

  margin-bottom: 5rem;

  &__img {
    width: 100%;
    border-radius: 0.8rem;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.28;
    font-weight: 500;
    text-align: center;
    padding: 0 0.7rem;
    margin: 1rem 0 0.8rem;
    color: getColor(secondary);
  }

  &__txt {
    padding: 0 1.5rem 2rem;
    font-size: 1.2rem;

    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
}
