//

@include btn__(primary);
@include btn__(secondary);
@include btn__(secondary__dark);

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 0.3rem solid transparent;
  text-transform: capitalize;
  place-self: end start;

  @media screen and (max-width: 38.2em) {
    font-size: 2rem;
  }
}
