//

.food__img {
  width: 100%;
  height: 40rem;
  // object-fit: cover;
  border-radius: 1.2rem;

  @include media(42.5em) {
    height: 20rem;
  }
}

:is(ul, ol) {
  @extend %list__inside;
  padding-left: 1rem;

  li {
    padding: 0.5rem 0;
    line-height: 1.55;
  }
}

.desc {
  color: lighten($primary__dark, 25%);
}
