//

.features {
  &__main-title {
    padding-right: 10%;
    font-size: 5.2rem;
    letter-spacing: -0.2rem;
    font-weight: 600;
    line-height: 0.9;
    color: getColor(primary);

    @include media(61em) {
      padding-right: 0;
    }
  }

  &__txt {
    padding-right: 10%;
    font-size: 1.8rem;
    font-weight: 400;
    color: getColor(primary__dark);

    @include media(61em) {
      padding-right: 0;
    }
  }
}
