//

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  font-weight: 500;
  line-height: 1.5;

  @include media(42.5em) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
}
