//

.wrapper {
  min-height: 100vh;
  background-color: getColor(primary__lighter);
  padding: 10rem 0;
  box-sizing: 0 0.5rem 1rem rgba($black, 0.3);

  @include media(42.5em) {
    padding: 0;
  }

  .container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem;

    background-color: getColor(light);
    border-radius: 2rem;

    @include media(42.5em) {
      padding: 2rem;
      border-radius: 0;
    }
  }
}

.sec:not(:last-child) {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba($black, 0.1);
}
