//

*,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;

  @include respond(96.9em) {
    font-size: 62.5%;
  }
  @include respond(82em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
