//

.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to right, $primary, $primary),
    url(../images/bg-desktop.svg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: 79% 100%;
  background-position: 15% 0;

  padding: 4rem 7rem;

  position: relative;

  display: grid;
  place-content: center center;

  @include respond(81em) {
    background-image: linear-gradient(to right, $primary, $primary),
      url(../images/bg-mobile.svg);
    background-size: cover;
  }

  @include respond(31.25em) {
    padding: 6rem 1rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: getColor(primary);

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
