//

.txt__white {
  color: getColor(light);
}

.author {
  &__name {
    font-size: 1.2rem;
    line-height: 1;
    color: lighten($primary, 40%);
  }

  &__job {
    font-size: 1.05rem;
    letter-spacing: 0.01rem;
    font-weight: 300;
    color: lighten($primary, 25%);
  }
}

.note {
  &__1 {
    margin: 2rem 0;
    font-size: 2.2rem;
  }

  &__2 {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba($light, 0.7);
  }
}

:is(.text__dark) :where(.author__name, .note__2) {
  color: rgba($tertiary, 0.9);
}

// :is(.text__dark) .author__name {
//   line-height: 1;
// }
