//
.card {
  width: 56rem;
  border-radius: 0.9rem;
  margin-bottom: 4rem;
  background-color: getColor(light);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30rem, auto);

  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba($tertiary, 0.2);

  @include media(36.25em) {
    width: 100%;
  }

  &__pic {
    background-image: url("../images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include media(36.25em) {
      grid-area: 1 / 1/ 2 / -1;
    }
  }

  &__content {
    grid-area: 1 / 2 / 2 / -1;

    padding: 2.4rem;

    @include media(36.25em) {
      grid-area: 2 / 1 / 3/ -1;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: getColor(gray);
  }

  &__title {
    line-height: 1.05;
    font-size: 3.2rem;
    color: getColor(tertiary);
    font-family: Fraunces, sans-serif;
  }

  &__txt {
    color: getColor(gray);
    line-height: 1.7;
    font-weight: 500;
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;

    &-pro {
      font-size: 3.2rem;
      font-family: Fraunces, sans-serif;
      color: getColor(primary);
      font-weight: 700;
      letter-spacing: 0.04rem;
    }

    &-actual {
      text-decoration: line-through;
      color: getColor(gray);
    }
  }
}
